/* src/components/MainScreen.css */

.main-screen {
    text-align: center;
    padding-top: 100px;
  }
  
  button {
    font-size: 24px;
    padding: 20px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .button-on {
    background-color: green;
    color: white;
  }
  
  .button-off {
    background-color: red;
    color: white;
  }
  